<div>
    <button (click)="emplogoutt()" 
   class="btn waves-effect waves-light" 
   type="submit" name="action" style="position: absolute; top: 8px;  right: 16px; font-size: 18px;">Logout</button>
   </div>
   <nav>
     <table  cellpadding="5" cellspacing="5" >
       <tr>
 <td><a routerLink="./viewemployees">VIEW EMPLOYEES </a></td>
 <td><a routerLink="./addemployees">ADD EMPLOYEE</a></td>
 <td><a routerLink="./deleteemployees">DELETE EMPLOYEE</a></td>
 <td><a routerLink="./updateemployees">UPDATE EMPLOYEE</a></td>
 </tr>
</table>
</nav>
   <router-outlet></router-outlet>
 