<nav>
    <table cellpadding="10" cellspacing="5">
 <tr>
<td>
<tr><a routerLink="./investment"><h1>INVESTMENT SALES</h1></a></tr>
</td>
<td>
 <tr><a routerLink="./banking"><h1>MORTGAGE BANKING</h1></a></tr>
 <tr><a routerLink="./gse">CONVENTIONAL & GSE</a></tr>
 <tr><a routerLink="./hud">HUD & FHA</a></tr>
 <tr><a routerLink="./lending">PROPIERATORY LENDING</a></tr>
 <tr><a routerLink="./life">LIFE COMPANY</a></tr>
 <tr><a routerLink="./seniors">SENIORS HOUSING AND
                                   HEALTHCARE</a></tr>
</td>
<td>
 <tr><a routerLink="./servicing"><h1>SERVICING</h1></a></tr>
 <tr><a routerLink="./server">SERVICERS SERVER & CMBS</a></tr>
 <tr><a routerLink="./asset">ASSET MANAGEMENT</a></tr>
 </td>

 </tr>
 </table>
</nav>
<router-outlet></router-outlet>